<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                        data-toggle="dropdown" aria-expanded="false">

                        <img alt="" [src]="this.userService.url+'/photoUser/'+user.id" />


                        {{user?.nom}} {{user?.prenom}}

                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:;" (click)="profileUser(user.id)"> Profile</a>
                        <a class="dropdown-item" href="javascript:;" (click)="settingUser(user.id)">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Paramètres</span>
                        </a>
                        <!--a class="dropdown-item" href="javascript:;">Help </a-->
                        <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-sign-out pull-right"></i>
                            Se déconnecter</a>
                    </div>
                </li>
                <ng-container *ngIf="user.role=='infirmier'">
                    <li role="presentation" class="nav-item dropdown open">
                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1"
                            data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-green">{{files?.totalElements}}</span>
                        </a>

                        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                            <ng-container *ngFor="let item of files?.content">
                                <li class="nav-item">
                                    <a class="dropdown-item">
                                        <span class="image"><img src="../assets/template/images/fileC.png"
                                                alt="Profile Image" /></span>
                                        <span>
                                            <span>Patient</span>
                                            <span
                                                class="time">{{item?.patient.nom}}&nbsp;{{item?.patient.prenom}}</span>
                                        </span>
                                        <span class="message">
                                            Fiche du soin incomplete<br>
                                            <a (click)="gotoFile(item.prescription.id)">Vérifier</a>
                                        </span>
                                    </a>
                                </li>
                            </ng-container>

                            <li class="nav-item">
                                <div class="text-center">
                                    <a class="dropdown-item" (click)="fileNotCompletted()">
                                        <strong> Voir la liste </strong>

                                    </a>
                                </div>
                            </li>
                        </ul>

                    </li>
                </ng-container>
                <!-- User Account: style can be found in dropdown.less -->

            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->