<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <app-menu></app-menu>
            <app-header></app-header>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <!--h3>Invoice <small>Some examples to get you started</small></h3-->
                        </div>


                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div>
                                    <!--h2>Invoice Design <small>Sample user invoice design</small></h2-->
                                    <ul class="nav navbar-right panel_toolbox">

                                        <li *ngIf="ownerAccount.role=='infirmier'"><a
                                                (click)="FicheInfirmierActif(fileCare.prescription.id)"
                                                style="font-size:17px;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>

                                        <li *ngIf="ownerAccount.role=='medecin'"><a
                                                (click)="fileCareByPresc(fileCare.prescription.id)"
                                                style="font-size:17px;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <button class="btn btn-default" onclick="window.print();"><i
                                                class="fa fa-print"></i> </button>
                                        <li><a class="close-link" (click)="home()"><i class="fa fa-close"></i></a>
                                        </li>

                                    </ul>
                                    <!--div class="clearfix"></div-->
                                </div>
                                <br>
                                <div class="x_content">

                                    <section class="content invoice">
                                        <!-- title row -->
                                        <div class="row">
                                            <div class="  invoice-header">
                                                <h1>
                                                    <i class="fa fa-clipboard"></i> Fiche Surveillance médicale:
                                                    <small style="font-size: 25px;">
                                                        {{fileCare?.dateF| date}}</small>
                                                </h1>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- info row -->
                                        <div class="row invoice-info">
                                            <div class="col-sm-2 invoice-col"></div>
                                            <div class="col-sm-5 invoice-col">
                                                <strong>Patient</strong>
                                                <address>
                                                    Nom:
                                                    &nbsp;{{fileCare?.patient.nom}}&nbsp;{{fileCare?.patient.prenom}}
                                                    <br>Sexe:&nbsp;{{fileCare?.patient.sexe}}
                                                    <br>Né(e) le:&nbsp;&nbsp;{{fileCare?.patient.date_naissance}}
                                                    <br>G.sanguin:&nbsp;{{fileCare?.patient.group_sanguin}}

                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-5 invoice-col">
                                                <strong>Service</strong>
                                                <address>
                                                    Nom:&nbsp;{{fileCare?.service.nom}}

                                                    <br>Chambre:&nbsp;{{fileCare?.num_chambre}}
                                                    <br>Medecin:&nbsp;{{fileCare?.prescription.medecin.nom}}&nbsp;{{fileCare?.prescription.medecin.prenom}}

                                                    <br>Prescription:&nbsp;&nbsp;{{fileCare?.prescription.type}}

                                                </address>
                                            </div>



                                        </div>
                                        <hr>
                                        <br><br>
                                        <!-- /.row -->

                                        <!--med-->
                                        <div class="x_content">

                                            <ng-container
                                                *ngFor="let item of fileCare?.prescription.contenu, let i=index">
                                                <ul class="list-unstyled timeline" *ngIf="item.etat">
                                                    <li>
                                                        <div class="block">
                                                            <div class="tags">
                                                                <a (click)="showValidationBox(item,i)"
                                                                    class="tag clickable">
                                                                    <!--span>Numero °{{i+1}}</span-->
                                                                    <span
                                                                        *ngIf="ownerAccount.role=='infirmier'">Injecter</span>
                                                                    <span
                                                                        *ngIf="ownerAccount.role=='medecin'">Afficher</span>
                                                                </a>
                                                            </div>
                                                            <div class="block_content">
                                                                <h2 class="title">
                                                                    <a>{{item?.nom_traitement}}
                                                                    </a>
                                                                </h2>
                                                                <div class="byline" id="bleuNuit">
                                                                    <span id="vert">Le voie:</span>
                                                                    &nbsp;{{item?.voix}}
                                                                    &nbsp;chaque <a>{{item?.rythme}}H<br></a>
                                                                    <span id="vert">Le dosage:</span>
                                                                    &nbsp;{{item?.dosage}}mg<br>
                                                                    <span id="vert">Remarque:&nbsp;</span>
                                                                    <p>{{item?.remarque}}
                                                                    </p>
                                                                </div>

                                                                <!--item?.validations.length>0 && -->
                                                                <div *ngIf="mode==i">

                                                                    <div *ngIf="Validations.length>0">
                                                                        <div class="well" style="overflow: auto">
                                                                            <span id="red">Déja
                                                                                Injecter:&nbsp;</span><br>
                                                                            <ng-container
                                                                                *ngFor="let v of Validations; let i=index">
                                                                                <div
                                                                                    class="form-check form-check-inline">
                                                                                    <input class="form-check-input"
                                                                                        type="checkbox" id="i"
                                                                                        value="true" checked disabled>




                                                                                    <a class="clickable"
                                                                                        data-toggle="modal"
                                                                                        [attr.data-target]="'#myModal' +i">détails</a>

                                                                                    <!-- The Modal -->
                                                                                    <div class="modal"
                                                                                        [attr.id]="'myModal' + i"
                                                                                        role="dialog">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">

                                                                                                <!-- Modal Header -->
                                                                                                <div
                                                                                                    class="modal-header">
                                                                                                    <h4
                                                                                                        class="modal-title">
                                                                                                        Détail sur
                                                                                                        l'injection
                                                                                                    </h4>
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="close"
                                                                                                        data-dismiss="modal">&times;</button>
                                                                                                </div>

                                                                                                <!-- Modal body -->

                                                                                                <div class="modal-body">


                                                                                                    <h4 class="heading">
                                                                                                        Injection du
                                                                                                        medicament:&nbsp;
                                                                                                    </h4>

                                                                                                    <p
                                                                                                        style="margin-left: 20px;">
                                                                                                        {{item?.nom_traitement}},&nbsp;dosage:&nbsp;{{item?.dosage}}mg,&nbsp;Voie:&nbsp;{{item.voix}}
                                                                                                    </p>
                                                                                                    <h4 class="heading">
                                                                                                        Injecté Par
                                                                                                        l'infirmier:&nbsp;
                                                                                                    </h4>

                                                                                                    <ul class="messages"
                                                                                                        style="margin-left: 20px;">
                                                                                                        <li>
                                                                                                            <!--img [src]="this.userService.url+'/photoUser/'+v.infirmier.id"
                                                                                                                class="avatar"
                                                                                                                alt="Avatar"-->

                                                                                                            <div
                                                                                                                class="message_wrapper">
                                                                                                                <h4
                                                                                                                    class="heading">
                                                                                                                    {{v.infirmier.nom}}&nbsp;{{v.infirmier.prenom}}
                                                                                                                </h4>
                                                                                                                <blockquote
                                                                                                                    class="message">
                                                                                                                    Date
                                                                                                                    Injection:{{v.dateV}}<br>
                                                                                                                    Temps
                                                                                                                    Injection:{{v.timeValidation }}<br>
                                                                                                                </blockquote>


                                                                                                            </div>
                                                                                                        </li>

                                                                                                    </ul><br>


















                                                                                                </div>
                                                                                                <!-- Modal footer -->
                                                                                                <div
                                                                                                    class="modal-footer">
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="btn btn-danger"
                                                                                                        data-dismiss="modal">Fermer</button>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>



                                                                                <!--/debut-->

                                                                            </ng-container>
                                                                        </div>
                                                                    </div>

                                                                    <br>
                                                                    <div
                                                                        *ngIf="item.nbre_par_jour - Validations?.length>0">
                                                                        <div *ngIf="ownerAccount.role=='infirmier'">

                                                                            <span id="red">A Injecter:&nbsp;</span><br>

                                                                            <ng-container
                                                                                *ngFor="let dummy of ' '.repeat(item.nbre_par_jour - Validations?.length).split(''), let x = index">
                                                                                <div
                                                                                    class="form-check form-check-inline">

                                                                                    <input class="form-check-input"
                                                                                        type="checkbox"
                                                                                        id="inlineCheckbox3"
                                                                                        value="option3"
                                                                                        (click)="addValidation(item)">

                                                                                </div>
                                                                            </ng-container>
                                                                        </div>
                                                                        <div *ngIf="ownerAccount.role=='medecin'">





                                                                            <div
                                                                                *ngIf="item.nbre_par_jour > Validations.length">
                                                                                <span id="red">Rest
                                                                                    &nbsp;{{item.nbre_par_jour - Validations.length}}&nbsp;injection(s)</span><br>

                                                                            </div>





                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="ownerAccount.role=='medecin'">
                                                                        <div
                                                                            *ngIf="item.nbre_par_jour - Validations.length ==0">
                                                                            <span id="red">L'injection
                                                                                du:&nbsp;{{item?.nom_traitement}}&nbsp;est
                                                                                effectué avec succès</span><br>


                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>


                                                </ul>

                                                <ul class="list-unstyled timeline"
                                                    *ngIf="!item.etat && ownerAccount.role=='medecin'">
                                                    <li>
                                                        <div class="block">
                                                            <div class="tags">
                                                                <a (click)="showValidationBox(item,i)"
                                                                    class="tag clickable">
                                                                    <!--span>Numero °{{i+1}}</span-->

                                                                    <span
                                                                        *ngIf="ownerAccount.role=='medecin'">Afficher</span>
                                                                </a>
                                                            </div>
                                                            <div class="block_content">
                                                                <h2 class="title">
                                                                    <a>{{item?.nom_traitement}}&nbsp; (STOPPER)
                                                                    </a>
                                                                </h2>
                                                                <div class="byline" id="bleuNuit">
                                                                    <span id="vert">Le voie:</span>
                                                                    &nbsp;{{item?.voix}}
                                                                    &nbsp;chaque <a>{{item?.rythme}}H<br></a>
                                                                    <span id="vert">Le dosage:</span>
                                                                    &nbsp;{{item?.dosage}}mg<br>
                                                                    <span id="vert">Remarque:&nbsp;</span>
                                                                    <p>{{item?.remarque}}
                                                                    </p>
                                                                </div>

                                                                <!--item?.validations.length>0 && -->
                                                                <div *ngIf="mode==i">

                                                                    <div *ngIf="Validations.length>0">
                                                                        <div class="well" style="overflow: auto">
                                                                            <span id="red">Déja
                                                                                Injecter:&nbsp;</span><br>
                                                                            <ng-container
                                                                                *ngFor="let v of Validations; let i=index">
                                                                                <div
                                                                                    class="form-check form-check-inline">
                                                                                    <input class="form-check-input"
                                                                                        type="checkbox" id="i"
                                                                                        value="true" checked disabled>




                                                                                    <a class="clickable"
                                                                                        data-toggle="modal"
                                                                                        [attr.data-target]="'#myModal' +i">détails</a>

                                                                                    <!-- The Modal -->
                                                                                    <div class="modal"
                                                                                        [attr.id]="'myModal' + i"
                                                                                        role="dialog">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">

                                                                                                <!-- Modal Header -->
                                                                                                <div
                                                                                                    class="modal-header">
                                                                                                    <h4
                                                                                                        class="modal-title">
                                                                                                        Détails sur
                                                                                                        l'injection
                                                                                                    </h4>
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="close"
                                                                                                        data-dismiss="modal">&times;</button>
                                                                                                </div>

                                                                                                <!-- Modal body -->

                                                                                                <div class="modal-body">


                                                                                                    <h4 class="heading">
                                                                                                        Injection du
                                                                                                        medicament:&nbsp;
                                                                                                    </h4>

                                                                                                    <p
                                                                                                        style="margin-left: 20px;">
                                                                                                        {{item?.nom_traitement}},&nbsp;dosage:&nbsp;{{item?.dosage}}mg,&nbsp;Voie:&nbsp;{{item.voix}}
                                                                                                    </p>
                                                                                                    <h4 class="heading">
                                                                                                        Injecté Par
                                                                                                        l'infirmier:&nbsp;
                                                                                                    </h4>

                                                                                                    <ul class="messages"
                                                                                                        style="margin-left: 20px;">
                                                                                                        <li>
                                                                                                            <!--img [src]="this.userService.url+'/photoUser/'+v.infirmier.id"
                                                                                                                class="avatar"
                                                                                                                alt="Avatar"-->

                                                                                                            <div
                                                                                                                class="message_wrapper">
                                                                                                                <h4
                                                                                                                    class="heading">
                                                                                                                    {{v.infirmier.nom}}&nbsp;{{v.infirmier.prenom}}
                                                                                                                </h4>
                                                                                                                <blockquote
                                                                                                                    class="message">
                                                                                                                    Date
                                                                                                                    Injection:{{v.dateV}}<br>
                                                                                                                    Temps
                                                                                                                    Injection:{{v.timeValidation }}<br>
                                                                                                                </blockquote>


                                                                                                            </div>
                                                                                                        </li>

                                                                                                    </ul><br>


















                                                                                                </div>
                                                                                                <!-- Modal footer -->
                                                                                                <div
                                                                                                    class="modal-footer">
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="btn btn-danger"
                                                                                                        data-dismiss="modal">Fermer</button>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>



                                                                                <!--/debut-->

                                                                            </ng-container>
                                                                        </div>
                                                                    </div>

                                                                    <br>
                                                                    <div
                                                                        *ngIf="item.nbre_par_jour - Validations?.length>0">

                                                                        <div
                                                                            *ngIf="item.nbre_par_jour > Validations.length">
                                                                            <span id="red">Stoper avant que les
                                                                                &nbsp;{{item.nbre_par_jour - Validations.length}}&nbsp;injection(s)
                                                                                est (sont) effectué(s)</span><br>

                                                                        </div>





                                                                    </div>

                                                                    <div
                                                                        *ngIf="item.nbre_par_jour - Validations.length ==0">
                                                                        <span id="red">L'injection
                                                                            du:&nbsp;{{item?.nom_traitement}}&nbsp;est
                                                                            effectué avec succès</span><br>


                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>


                                                </ul>
                                            </ng-container>


                                        </div>
                                        <!--/med-->

                                        <!-- /.row -->



                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <app-footer></app-footer>
        </div>
    </div>

</body>