<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/login/images/top.jpg);">

                <span class="login100-form-title-1" id="entete">
                    <br>
                    <br>
                </span>

            </div>
            <div *ngIf="mode!=0">
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorMessage">
                    <strong>Erreur!</strong> Votre email ou mot de passe incorrect.
                    {{mode}}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="alert alert-primary" role="alert" *ngIf="!errorMessage">
                    Bien venu à PrescLib!
                </div>
            </div>

            <form class="login100-form validate-form" data-parsley-validate novalidate [formGroup]="loginForm"
                (ngSubmit)="onLogin()">
                <div class=" wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class=" label-input100">Email</span>
                    <input class="input100" type="text" name="username" formControlName="email"
                        placeholder="Entrer email " required>
                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">


                    <span class="label-input100">Mot de passe</span>

                    <input class="input100" type="password" name="password" formControlName="pwd"
                        placeholder="Entrer mot de passe" required>


                    <span class="focus-input100"></span>
                </div>


                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Rappeller de moi
                        </label>
                    </div>

                    <div>
                        <a routerLink="/forgetPassword" class="txt1">
                            Mot de passe oublié?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" [disabled]="loginForm.invalid">
                        Connexion
                    </button>

                    <!--erreur message -->
                    <!--div *ngIf="mode==0 && requiredFieldErr==true">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="false"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        errrrrrrrrrrrrrrrrrror
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div-->



                </div>
            </form>
        </div>
    </div>
</div>