#but{
		
    float: right;
    margin-left: -25px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
      }
      .modal-backdrop {
        /* bug fix - no overlay */    
        display: none;    
    }
    
.ng-valid[required], .ng-valid.required  {
  border-bottom: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-bottom: 1px solid #a94442; /* red */
}