<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">

            <app-menu></app-menu>
            <app-header></app-header>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Acceuil</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <br><br><br>
                    <div class="card-columns" id="colorWriter">
                        <!--<h2><i class="fa fa-home fa-4x"></i></h2>-->
                        <div class="card bg-info" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Profile</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right" id="colorIcon"><i class="fa fa-user fa-5x"></i></span>
                                <br><br><br>
                            </div>
                            <div class="card-footer text-white">
                                <small class="text-muted">Plus Info <a (click)="settingUser(user.id)"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>

                            </div>
                        </div>

                        <div class="card bg-warning" style="max-width: 18rem;" *ngIf="user.role=='admin'">
                            <div class="card-body">
                                <h5 class="card-title">Services</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right" id="colorIcon"><i class="fa fa-building fa-5x"></i></span>

                                <br><br><br>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Plus Info <a (click)="services()"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>
                            </div>
                        </div>

                        <div class="card bg-danger" style="max-width: 18rem;" *ngIf="user.role=='admin'">
                            <div class="card-body">
                                <h5 class="card-title">Utilisateurs</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right" id="colorIcon"><i class="fa fa-users fa-5x"></i></span>
                                <br><br><br>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Plus Info <a (click)="goToUser()"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>

                            </div>
                        </div>

                        <div class="card bg-danger" style="max-width: 18rem;"
                            *ngIf="user.role=='secretaire' || user.role=='medecin'">
                            <div class="card-body">
                                <h5 class="card-title">Patients</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right" id="colorIcon"><i class="fa fa-wheelchair fa-5x"></i></span>
                                <br><br><br>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Plus Info <a (click)="gotoPatients()"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>

                            </div>
                        </div>

                        <div class="card bg-success" style="max-width: 18rem;" *ngIf="user.role=='secretaire'">
                            <div class="card-body">
                                <h5 class="card-title">Traitement</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right">
                                    <!--i class="fa fa-wheelchair fa-5x"></i-->
                                    <img src="../assets/template/images/med.png" alt="..."
                                        style="height: 60px;width: 60px;">


                                </span>
                                <br><br><br>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Plus Info <a (click)="searchTraitement()"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>

                            </div>
                        </div>

                        <div class="card bg-warning" style="max-width: 18rem;" *ngIf="user.role=='infirmier'">
                            <div class="card-body">
                                <h5 class="card-title">Dossier Soins</h5>
                                <!--p class="card-text" id="colorWriter">Some quick example text to build on the panel
                                    title and make up the
                                    bulk of the panel's content.</p-->
                                <span class="float-right" id="colorIcon"><i class="fa fa-medkit fa-5x"></i></span>

                                <br><br><br>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Plus Info <a (click)="dossierMedical()"><i
                                            class="fa fa-arrow-circle-right"></i></a></small>
                            </div>
                        </div>

                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <!--div id="box">

                    </div-->






                    <!--test    <h2><i class="fa fa-home fa-3x"></i></h2>-->


                    <!--/test-->
                </div>
            </div>
            <!-- /page content -->
            <app-footer></app-footer>
        </div>
    </div>

</body>
<!--script src="../assets/template/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/template/vendors/bootstrap/js/src/dropdown.js"></script>
<script src="../assets/template/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets/template/build/js/custom.min.js"></script-->