<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <app-menu></app-menu>
            <app-header></app-header>

            <app-users></app-users>
            <app-footer></app-footer>
        </div>
    </div>

</body>
<!--script src="../assets/template/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/template/vendors/bootstrap/js/src/dropdown.js"></script>
<script src="../assets/template/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets/template/build/js/custom.min.js"></script-->