<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a (click)="home()"><i class="fa fa-home"></i> Accueil </a>
            </li>
            <li><a (click)="profileUser(user.id)"><i class="fa fa-user"></i> Profile </a>
            </li>

            <li *ngIf="user.role=='admin'" (click)="services()"><a><i class="fa fa-hospital-o"></i> Services </a>

            </li>
            <li *ngIf="user.role=='admin'" (click)="gotoUsers()"><a><i class="fa fa-users"></i> Utilisateurs</a>

            </li>
            <li *ngIf="user.role=='secretaire' || user.role=='medecin'" (click)="gotoPatients()"><a><i
                        class="fa fa-wheelchair"></i> Patients
                </a>

            </li>
            <li *ngIf="user.role=='secretaire'" (click)="searchTraitement()"><a><i class="fa fa-search"></i> Traitements
                </a>

            </li>
            <li *ngIf="user.role=='infirmier'" (click)="dossierMedical()"><a><i class="fa fa-medkit"></i> Dossier
                    Soin</a>

            </li>
            <!--li *ngIf="user.role=='infirmier'"><a><i class="fa fa-heartbeat"></i> Dossier Soin <span
                        class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="data.html">LIST</a></li>
                </ul>
            </li-->

            <li><a (click)="settingUser(user.id)"><i class="fa fa-cogs"></i> Paramètres </a>
            </li>

        </ul>
    </div>


</div>
<!-- /sidebar menu -->