<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li class="active"><a href="admin.html"><i class="fa fa-home"></i> Home </a>
            </li>
            <li><a href="profile.html"><i class="fa fa-user"></i> Profile </a>
            </li>

            <li *ngIf="user.role=='admin'"><a><i class="fa fa-hospital-o"></i> Services </a>

            </li>
            <li *ngIf="user.role=='admin'"><a><i class="fa fa-users"></i> Membres <span
                        class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="listUser.html">LIST</a></li>
                </ul>
            </li>
            <li *ngIf="user.role=='infirmier'"><a><i class="fa fa-female"></i> Prescription <span
                        class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="data.html">LIST</a></li>
                </ul>
            </li>
            <li *ngIf="user.role=='infirmier'"><a><i class="fa fa-heartbeat"></i> Dossier Soin <span
                        class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="data.html">LIST</a></li>
                </ul>
            </li>
            <li *ngIf="user.role=='secretaire'"><a><i class="fa fa-heartbeat"></i> Patient <span
                        class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="data.html">LIST</a></li>
                </ul>
            </li>
            <li><a href="profile.html"><i class="fa fa-cogs"></i> Paramètre </a>
            </li>

        </ul>
    </div>


</div>
<!-- /sidebar menu -->