<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <app-menu></app-menu>
            <app-header></app-header>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Rapport personnel</h3>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Rapport sur le patient</h2>
                                    <ul class="nav navbar-right panel_toolbox">

                                        <li *ngIf="user.role=='secretaire'"><a (click)="editPatient(patient?.id)"
                                                title="edit">
                                                <i class="fa fa-pencil"></i></a>
                                        </li>
                                        <li *ngIf="user.role=='secretaire' || user.role=='medecin'"><a
                                                (click)="patients()" style="font-size:17px;"><i
                                                    class="fa fa-angle-double-left"></i></a>
                                        </li>

                                        <li *ngIf="user.role=='infirmier'"><a (click)="dossierSoin()"
                                                style="font-size:17px;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li><a class="close-link" (click)="home()"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-10 col-sm-10" id="decaleBox">
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#tab_content1"
                                                        id="home-tab" role="tab" data-toggle="tab"
                                                        aria-expanded="true">Détails</a>
                                                </li>

                                                <li role="presentation" class=""><a href="#tab_content3" role="tab"
                                                        id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                                        Historique d'hospitalisation</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane active " id="tab_content1"
                                                    aria-labelledby="home-tab">
                                                    <hr>

                                                    <!-- start recent activity -->
                                                    <ul class="messages" id="decaleSousBox">
                                                        <li>
                                                            <img src="../assets/template/images/profile.png"
                                                                class="avatar" alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Nom et prénom</h4>
                                                                <blockquote class="message">
                                                                    {{patient?.nom}} &nbsp; &nbsp; {{patient?.prenom}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="../assets/template/images/cni.png" class="avatar"
                                                                alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Numéro Carte Identité (CNI)</h4>
                                                                <blockquote class="message">{{patient?.cni}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="../assets/template/images/dateN.jpg"
                                                                class="avatar" alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Date de naissance</h4>
                                                                <blockquote class="message">
                                                                    {{patient?.date_naissance | date }}
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="../assets/template/images/sexe.png" class="avatar"
                                                                alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Sexe</h4>
                                                                <blockquote class="message">{{patient?.sexe}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>


                                                        <li>
                                                            <img src="../assets/template/images/adress.png"
                                                                class="avatar" alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Adresse</h4>
                                                                <blockquote class="message">{{patient?.adress}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>

                                                        <li>
                                                            <img src="../assets/template/images/tel.png" class="avatar"
                                                                alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Téléphone</h4>
                                                                <blockquote class="message">{{patient?.telephone}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="../assets/template/images/role.png" class="avatar"
                                                                alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Profession</h4>
                                                                <blockquote class="message">{{patient?.profession}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>

                                                        <li>
                                                            <img src="../assets/template/images/gSiguin.png"
                                                                class="avatar" alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Groupe sanguin</h4>
                                                                <blockquote class="message">{{patient?.group_sanguin}}.
                                                                </blockquote>
                                                                <br />

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <img src="../assets/template/images/service.png"
                                                                class="avatar" alt="Avatar">

                                                            <div class="message_wrapper">
                                                                <h4 class="heading">Hospitalisé au service</h4>
                                                                <blockquote class="message"
                                                                    *ngIf="patient?.etat; else showExcuse">
                                                                    <p>
                                                                        Le patient &nbsp;({{patient?.nom}} &nbsp;
                                                                        {{patient?.prenom}}) réside au niveau du
                                                                        Service:
                                                                    </p>

                                                                    <ul style="margin-left: 40px;">
                                                                        <li>
                                                                            {{patient?.service.nom}}
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <span>
                                                                                {{currentResidentS?.medecin_traitant.nom}}&nbsp;
                                                                                {{currentResidentS?.medecin_traitant.prenom}}
                                                                            </span>
                                                                            &nbsp;&nbsp;&nbsp;

                                                                            <span>
                                                                                <a title="prescription"
                                                                                    (click)="currentResidentPrescription(currentResidentS?.id)"
                                                                                    style="font-size: 15px;"
                                                                                    class="btn btn-default btn-xs"><i
                                                                                        class="fa fa-file-archive-o"></i>
                                                                                </a>
                                                                            </span>
                                                                        </li>




                                                                    </ul>

                                                                </blockquote>
                                                                <ng-template #showExcuse>
                                                                    <blockquote class="message">

                                                                        <p> Le patient:
                                                                            &nbsp;({{patient?.nom}} &nbsp;
                                                                            {{patient?.prenom}}) n'est pas hospitalisé

                                                                        </p>

                                                                    </blockquote>
                                                                </ng-template>



                                                            </div>
                                                        </li>


                                                    </ul>

                                                    <!-- end recent activity -->


                                                </div>

                                                <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                                    aria-labelledby="profile-tab">
                                                    <br>


                                                    <!--div *ngIf="servicesHosp?.totalElements>0; else showHistorique">
                                                        <table class="table table-hover col-md-11" id="decaler">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Service</th>
                                                                    <th scope="col">Medecin traitant</th>
                                                                    <th scope="col">chambre</th>
                                                                    <th scope="col">Date entre</th>
                                                                    <th scope="col">Date sortie</th>
                                                                    <th scope="col">Prescriptions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container
                                                                    *ngFor="let item of  servicesHosp?.content;">
                                                                    <tr>
                                                                        <th scope="row">#</th>
                                                                        <td>{{item.service.nom}}</td>
                                                                        <td>{{item.medecin_traitant.nom}}&nbsp;{{item.medecin_traitant.prenom}}
                                                                        </td>
                                                                        <td>{{item.num_chambre}}</td>

                                                                        <td>
                                                                            {{item.date_entre| date:'shortDate'}}</td>
                                                                        <td>
                                                                            {{item.date_sortie| date:'shortDate'}}</td>
                                                                        <td>
                                                                            <a class="btn btn-primary btn-xs"
                                                                                title="prescription"
                                                                                (click)="historiquePrecription(item.id)"><i
                                                                                    class="fa fa-folder-open-o"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>

                                                            </tbody>
                                                        </table><br><br><br>
                                                        <nav aria-label="Page navigation example" id="decalNav">
                                                            <ul class="pagination justify-content-end">

                                                                <li class="page-item"
                                                                    *ngFor="let p of pages; let i=index"
                                                                    [ngClass]="{'active':i==curentPage}">
                                                                    <a class="page-link clickable"
                                                                        (click)="gotoPage(i)">{{i}}</a></li>
                                                            </ul>
                                                        </nav>
                                                        <br><br><br><br><br>
                                                    </div-->
                                                    <div *ngIf="servicesHosp?.totalElements>0; else showHistorique">
                                                        <!--modif-->
                                                        <ng-container *ngFor="let item of  servicesHosp?.content;">
                                                            <div class="col-md-4 col-sm-4  profile_details"
                                                                id="decaler">
                                                                <div class="well profile_view">
                                                                    <div class="col-sm-12">

                                                                        <h4 class="brief">
                                                                            <i>{{item.service.nom}}</i>
                                                                        </h4>
                                                                        <div class="left col-md-7 col-sm-7">
                                                                            <h2>Dr:&nbsp;{{item.medecin_traitant.nom}}&nbsp;{{item.medecin_traitant.prenom}}
                                                                            </h2><br>

                                                                            <ul class="list-unstyled">
                                                                                <li>N°chambre: {{item.num_chambre}}</li>

                                                                                <li>Hospitaliser le:
                                                                                    {{item.date_entre| date:'shortDate'}}
                                                                                </li>
                                                                                <li>Sortir le:
                                                                                    {{item.date_sortie| date:'shortDate'}}
                                                                                </li>



                                                                            </ul>
                                                                        </div><br><br><br>
                                                                        <div
                                                                            class="right col-md-5 col-sm-5 text-center">
                                                                            <img [src]="this.userService.url+'/photoUser/'+item.medecin_traitant.id"
                                                                                alt="Avatar"
                                                                                class="img-circle img-fluid"
                                                                                style="width: 250px;height: 100px">
                                                                        </div>
                                                                    </div>
                                                                    <div class=" profile-bottom text-center">
                                                                        <div class=" col-sm-6 emphasis">
                                                                            <p class="ratings">

                                                                                <a
                                                                                    (click)="nbrePrescriptionActifInEveryHosp(item.id)"><span
                                                                                        class="fa fa-star"></span></a>
                                                                                <!--a>
                                                                                    {{nbrePrescriptionActifInEveryHosp(item.id)}}</a-->




                                                                            </p>
                                                                        </div>

                                                                        <div class=" col-sm-6 emphasis"
                                                                            *ngIf="user.role=='secretaire'|| user.role=='infirmier'">

                                                                            <button type="button"
                                                                                class="btn btn-primary btn-sm"
                                                                                title="prescription"
                                                                                (click)="historiquePrecription(item.id)"><i
                                                                                    class="fa fa-folder-open-o"></i>
                                                                                prescriptions
                                                                            </button>
                                                                        </div>
                                                                        <div class=" col-sm-6 emphasis"
                                                                            *ngIf="user.role=='medecin'">

                                                                            <button type="button"
                                                                                class="btn btn-primary btn-sm"
                                                                                title="prescription"
                                                                                (click)="historiquePrecription(item.id)"><i
                                                                                    class="fa fa-folder-open-o"></i>
                                                                                Dossier
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </ng-container>
                                                        <br><br><br><br><br><br><br>
                                                        <nav aria-label="Page navigation example" id="decalNav">
                                                            <ul class="pagination justify-content-end">

                                                                <li class="page-item"
                                                                    *ngFor="let p of pages; let i=index"
                                                                    [ngClass]="{'active':i==curentPage}">
                                                                    <a class="page-link clickable"
                                                                        (click)="gotoPage(i)">{{i}}</a></li>
                                                            </ul>
                                                        </nav>
                                                        <br><br><br><br><br>


                                                        <!--/modif-->
                                                    </div>


                                                    <ng-template #showHistorique>
                                                        <blockquote class="message" id="decaler">
                                                            <p>
                                                                &nbsp;
                                                                Le patient {{patient?.nom}}&nbsp;{{patient?.prenom}} n'a
                                                                pas encore un
                                                                historique.</p>

                                                        </blockquote>

                                                        <div class="row">
                                                            <div id="box">

                                                            </div>
                                                        </div>

                                                    </ng-template>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->

            <app-footer></app-footer>
        </div>
    </div>

</body>