<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <app-menu></app-menu>
            <app-header></app-header>


            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Modifier un Service</h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-1 col-sm-1 ">
                        </div>
                        <div class="col-md-10 col-sm-10 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Modification du service:&nbsp;{{service.nom}}</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a (click)="services()" style="font-size:17px;"><i
                                                    class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li><a class="close-link" (click)="home()"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"
                                        novalidate [formGroup]="userForm" (ngSubmit)="onSubmitForm()" id="decaleForm">



                                        <div class="form-group col-md-8">
                                            <label for="inputNom4">Nom du service</label>
                                            <input type="text" id="lastName" class="form-control"
                                                formControlName="serviceName" [(ngModel)]="service.nom" required>

                                        </div>

                                        <br>


                                        <div class="form-group col-md-8">
                                            <label for="inputAddress2">Telephone</label>
                                            <input type="tel" id="telephone" class="form-control"
                                                formControlName="telephone" [(ngModel)]="service.telephone" required>

                                        </div>
                                        <br>


                                        <div class="form-group col-md-8">
                                            <label for="inputState">Chef du service</label>
                                            <select id="chedServ" class="form-control" formControlName="chedServ"
                                                [(ngModel)]="nomCompletDuChef" required>

                                                <option *ngFor="let u of actifUser"
                                                    [selected]="u.id===service.chefService.id">
                                                    {{u.nom}} {{u.prenom}}
                                                </option>
                                                <option *ngIf="actifUser.length===0">No data found</option>
                                            </select>
                                        </div>
                                        <br><br><br><br><br><br><br><br><br><br><br>

                                        <div class="ln_solid"></div>
                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-6 offset-md-3">
                                                <button class="btn btn-default" type="reset">Annuler</button>
                                                <button class="btn btn-primary" type="submit"
                                                    [disabled]="userForm.invalid">Valider</button>
                                            </div>
                                        </div>
                                        <br><br>
                                    </form>



                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 col-sm-1 ">
                        </div>
                    </div>








                </div>
            </div>
            <!-- /page content -->

            <app-footer></app-footer>
        </div>
    </div>

</body>