<div class="limiter">
    <div class="container-login100">

        <div class="animate form ">
            <section class="login_content">
                <form data-parsley-validate class="form-horizontal form-label-left" novalidate
                    [formGroup]="forgetPwdForm" (ngSubmit)="onForgetPassword()">
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="PSEUDO" name="username"
                            formControlName="username" required />
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary"
                            [disabled]="forgetPwdForm.invalid">Envoyer</button>
                    </div>

                    <div>
                        <a class="btn btn-default submit" routerLink="/login">Log in</a>

                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <div>
                                <img src="../assets/template/images/test2.png" alt="...">
                            </div>
                            <p>©2020 All Rights Reserved. PrescLIB!</p>
                            <p style="color: #eeeeee;">--------------------------------------------------------
                            </p>

                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>